### RGBD2PC_o3d
# open3d
# opencv-python
# scipy

### RGBD2PC_plt
numpy
matplotlib
opencv-python
scipy

### SAM segmentation
torch
torchvision
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
